<div class="main-content">
  <div class="section-content section-content-p30">

    <h4>{{currentCategoryName}} Products</h4>
    <hr>

    <div class="container-fluid">
      <div class="row">

        <!--loop over the collection of products-->
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">

            <!--            button for product detail-->
            <a routerLink="/products/{{tempProduct.id}}">
              <img src="{{tempProduct.imageUrl}}" class="img-responsive">
            </a>


            <!--            button for product detail-->
            <a routerLink="/products/{{tempProduct.id}}">
              <h1 class="productName">{{tempProduct.name}}</h1>
            </a>

            <hr style="width: 50%">
            <div class="price">{{tempProduct.unitPrice | currency:'USD'}}</div>
            <button href="#" class="btn btn-primary btn-sm" >Add to Cart</button>
          </div>
        </div>

        <!--        if product is not found-->
        <!--        safe navigation operator: if products is null or undefined or == 0 -->
        <div *ngIf="products?.length ==0" class="alert alert-warning col-md-12" role="alert">
          No products found
        </div>

      </div>
    </div>
  </div>
</div>


